<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_developer_certification_tutorial">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ThemesandSharedpreferences.Themes_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomViews.CustomViewActivity">
        </activity>
        <activity android:name=".RecyclerView.RecyclerViewActivity" />

        <uses-library
            android:name="android.test.runner"
            android:required="false" />

        <activity android:name=".Testing.ExampleTestActivity" />
        <activity android:name=".Room.RoomActivity" />

        <service
            android:name=".ForegroundService.ForegroundServiceExample"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ForegroundService.ForegroundServiceActivity" />
        <activity android:name=".AlarmManager.AlarmManagerActivity" />

        <service
            android:name=".AlarmManager.AlaramManagerExample"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".WorkManager.WorkManagerExample" />

        <service
            android:name=".Notification.ProgressService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".Notification.NotificationExample" />
        <activity android:name=".ContentProvider.ContentProviderExample" />

        <provider
            android:name=".ContentProvider.StudentsProvider"
            android:authorities="com.example.android_developer_certification_tutorial.ContentProvider.StudentsProvider" />

        <activity android:name=".BroadcastReciever.SendBroadcastActivity" />

        <receiver android:name=".BroadcastReciever.BroadcastReceiverExample">
            <intent-filter>
                <action android:name="com.CUSTOM_INTENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmManager.AlarmBroadcastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
                <!-- <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" /> -->
                <action android:name="com.AlarmIntent" />
            </intent-filter>
        </receiver>

        <activity android:name=".JobScheduler.JobSchedulerExample" />
        <activity android:name=".ToastandSnackbar.ToastSnackbarActivity" />
        <activity android:name=".Navigation.NavActivity"></activity>

        <service
            android:name=".JobScheduler.ExampleJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>